.monthDisplay p {
    font-size: 20px; 
}

.percent {
    position: relative;
    width: 160px;
    height: 150px;
}

.percent svg {
    position: relative;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.percent svg circle {
    position: relative;
    fill: none;
    stroke-width: 10;
    stroke: #f3f3f3;
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

svg circle.active {
    stroke-dashoffset: 0;
    stroke: orange;
    animation: circleAnim 1s forwards;
}

svg circle.passive {
    stroke-dasharray: 0 440;
}

@keyframes circleAnim {
    0% {
        stroke-dasharray: 0 440;
    }
    99.9%,
    to {
        stroke-dasharray: 440 440;
    }
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #111;
}

.percent p {
    margin-bottom: 0;
}

.percent .number #title {
    font-size: 40px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
}

#time_form_area {
    height: 70px;
}

#title span {
    font-size: 20px;
}

.text {
    padding: 10px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.company {
    margin: 15px;
    box-sizing: border-box;
    border: none;
    background: linear-gradient(transparent 70%, orange 0%);
    color: dimgray;
    font-size: 30px;
}

#dummyTextBox {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0 0 0 0);
}

.month {
    margin: 15px;
    border: none;
}

.plan-area {
    margin: 0 0 0 15px;
    display: flex;
    align-items: center;
}

.plan {
    height: 20px;
    width: 20px;
    text-align: center;
}

.webArea {
    margin: 0 0 20px 15px;
    height: 30px;
    display: flex;
    align-items: stretch;
}

.web {
    height: 30px;
    width: 200px;
}

.overviewArea {
    margin: 0 0 -10px 15px;
    display: flex;
    align-items: stretch;
}

.overview {
    height: 90px;
    width: 500px;
}

.periodArea {
    margin: 0 0 40px 15px;
    display: flex;
    align-items: stretch;
}

.formArea {
    display: flex;
    align-items: center;
}

.inputTable {
    margin-left: 15px;
    margin-bottom: 10px;
    height: 30px;
}

.inputTable input {
    padding: 10px;
    height: 30px;
}

.inputTable textarea {
    padding: 10px;
    height: 30px;
}

.date {
    width: 40px;
}

.who {
    width: 100px;
}

.category {
    width: 100px;
}

.detail {
    width: 200px;
}

.time {
    width: 40px;
}

.deadline {
    width: 100px;
}

.manager {
    width: 50px;
}

.status {
    width: 20px;
}

.input {
    padding: 10px;
}

.button {
    margin-left: 18px;
    height: 25px;
    background-color: white;
    border: 1px solid dimgray;
    border-radius: 5px;
}

.button:hover {
    background-color: whitesmoke;
}

.analyticsArea {
    margin: 20px 0 0 15px;
}

.smallText {
    margin: -10px 0 -5px 0;
    font-size: small;
}

.analytics {
    height: 90px;
    width: 500px;
}

.loadsaveButton {
    margin: 15px 10px 10px 15px;
    height: 40px;
    width: 100px;
    background-color: white;
    border: 1.5px solid orange;
    border-radius: 5px;
}

.loadsaveButton:hover {
    background-color : orange;
    color: white;
}

.pdf-button {
    margin: 15px;
    height: 40px;
    width: 100px;
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
    border-radius: 20px;
}

.pdf-button:hover {
    background-color: orangered;
    border: 1px solid orangered;
}

.pdf-save-btn {
    display: none;
}

#popup-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.output {
    display: block;
    margin: 10px 0 0 10px;
}

.link {
    margin-left: 15px;
    padding: 10px 0;
}