.monthDisplay p {
    font-size: 20px; 
}

.percent {
    position: relative;
    width: 150px;
    height: 150px;
}

.percent svg {
    position: relative;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

.percent svg circle {
    position: relative;
    fill: none;
    stroke-width: 10;
    stroke: #f3f3f3;
    stroke-dasharray: 440;
    stroke-dashoffset: 0;
    stroke-linecap: round;
}

svg circle.active {
    stroke-dashoffset: 0;
    stroke: #03a9f4;
    animation: circleAnim 1s forwards;
}

svg circle.passive {
    stroke-dasharray: 0 440;
}

@keyframes circleAnim {
    0% {
        stroke-dasharray: 0 440;
    }
    99.9%,
    to {
        stroke-dasharray: 440 440;
    }
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #111;
}

.percent p {
    margin-bottom: 0;
}

.percent .number #title {
    font-size: 50px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-items: right;
    text-align: center;
}

#time_form_area {
    height: 75px;
    width: 101.52px;
}

#title span {
    font-size: 22px;
}

.text {
    padding: 10px 0 0;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.loadSave {
    margin: 10px 0 0 0;
}

.formArea {
    display: flex;
    align-items: center;
}

.inputTable {
    height: 40px;
}

.inputTable input {
    padding: 10px;
    height: 40px;
}

.inputTable textarea {
    padding: 10px;
    height: 40px;
}

.date {
    width: 40px;
}

.who {
    width: 100px;
}

.category {
    width: 100px;
}

.detail {
    width: 200px;
}

.time {
    width: 40px;
}

.deadline {
    width: 100px;
}

.manager {
    width: 50px;
}

.status {
    width: 20px;
}

.input {
    padding: 10px;
}

.link {
    padding: 10px 0;
}