.bar-gragh-wrap {
    position: relative;
    height: 80vh;
    width: 90vw;
    overflow: hidden;
}

.bar-gragh-wrap .graph {
    height: 80vh;
    display: flex;
    animation: graphAnim 1s forwards;
}

.bar-gragh-wrap .graph > div {
    position: absolute;
    bottom: 0;
    width: 5%;
    margin: 20px;
    background: orange;
}

.bar-gragh-wrap .graph .jan{
    left: 5%;
    height: 50%;
}

.bar-gragh-wrap .graph .feb {
    left: 13%;
    height: 80%;
}

.bar-gragh-wrap .graph .mar {
    left: 21%;
    height: 50%;
}

.bar-gragh-wrap .graph .apr {
    left: 29%;
    height: 80%;
}

.bar-gragh-wrap .graph .may {
    left: 37%;
    height: 50%;
}

.bar-gragh-wrap .graph .jun {
    left: 45%;
    height: 80%;
}

.bar-gragh-wrap .graph .jul {
    left: 53%;
    height: 50%;
}

.bar-gragh-wrap .graph .aug {
    left: 61%;
    height: 80%;
}

.bar-gragh-wrap .graph .sep {
    left: 69%;
    height: 50%;
}

.bar-gragh-wrap .graph .oct {
    left: 77%;
    height: 80%;
}

.bar-gragh-wrap .graph .nov {
    left: 85%;
    height: 50%;
}

.bar-gragh-wrap .graph .dec {
    left: 93%;
    height: 80%;
}

@keyframes graphAnim {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.graph .number {
    font-size: 14px;
    text-align: center;
}

.monthArea {
    position: relative;
    width: 100vw;
    left: 7%;
    display: flex;
}

.monthArea .month {
    width: 5%;
    margin: 0 2.2% 0 0;
}